.ithem {
    margin: 20px;
}

.ithem a {
    background-color: #fff;
    margin: 16px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 16px;
    text-decoration: none;
}

.ithem a:hover {
    background-color: #cccccc;

}

.active {
    background-color: #9c9c9c;

}

.ithem img {
    clip-path: circle(50%);
}

.ithem a h2 {
    color: black;
}